
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: system-ui;
  font-size: 14px;
  max-width: 1000px;
  margin: 1em auto;
  padding: 1em;
  background: white;
}

h1 {
  font-size: 1.5em;
}
