name: Build application and create release

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build:
          - name: 'Linux'
            platform: 'linux/amd64'
            os: 'ubuntu-latest'
          - name: 'Windows'
            platform: 'windows/amd64'
            os: 'windows-latest'

    runs-on: ${{ matrix.build.os }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set-up
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.6.x

      - name: Build
        uses: dAppServer/wails-build-action@main
        id: build
        with:
          build-name: 'waifetch'
          build-platform: ${{ matrix.build.platform }}
          build: true
          package: true
          go-version: '1.25'

